main {
  padding: 5rem 2rem 2rem 5rem;
}

.product-title {
  color: #1a2458;
  font-size: 2rem;
}

.product-container {
  display: flex;
  gap: 10rem;
  /* align-items: center; */
}

.slider {
  margin-left: 5rem;
  position: relative;
  overflow: hidden;
  max-width: 400px;
  border-radius: 8px;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease;
}

.slider img {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 4px;
}

.slider-btn.prev {
  left: 10px;
}

.slider-btn.next {
  right: 10px;
}

